@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Engagement&display=swap');

.main {
    background-color: #ffebcd;
    font-family: 'Playfair Display', serif;
}
.centered-title {
    text-align: center;
    color: #00008b;
}
h1 {
    color: black;
}
h2 {
    color: darkblue;
}
.sidebar .sidebar-content {
    background-color: BlanchedAlmond;
}
.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div[data-testid="stExpander"] {
    background-color: #ffdab9; /* Slightly pink background */
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); /* Bottom shadow */
    border-radius: 5px; /* Optional: Add some rounding to the corners */
    padding: 10px; /* Optional: Add some padding */
}
div[data-testid="column"]{
box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); /* Bottom shadow */
border-radius: 5px; /* Optional: Add some rounding to the corners */
padding: 10px; /* Optional: Add some padding */
}
div [class="mapboxgl-map"]{
box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); /* Bottom shadow */
border-radius: 5px; /* Optional: Add some rounding to the corners */
padding: 10px; /* Optional: Add some padding */
}
div[data-testid="stSidebarContent"]{
    background-color: #FFDAB9; /* Slightly pink background */
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); /* Bottom shadow */
    border-radius: 5px; /* Optional: Add some rounding to the corners */
    padding: 10px; /* Optional: Add some padding */   
}
div[data-testid="stVerticalBlockBorderWrapper"]{
    background-color: #ffebcd    
}
div [data-baseweb="select"]{
background-color: #FFDAB9; /* Slightly pink background */
box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); /* Bottom shadow */
border-radius: 5px; /* Optional: Add some rounding to the corners */
padding: 10px; /* Optional: Add some padding */  
}
div [data-baseweb=select]  {
    max-height: 300px;
    overflow: auto;
}
span[data-baseweb=select]{
   font-size: 7px !important; /* Adjust the font size as needed */
   padding: 1px 4px !important; /* Adjust the padding as needed */
    
}
div[data-testid=""]{
background-color: #FFDAB9; /* Slightly pink background */
box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); /* Bottom shadow */
border-radius: 5px; /* Add some rounding to the corners */
padding: 4px; /* Add some padding */
}

div [data-testid="stMarkdownContainer"]{
    padding: 6px; 

}